{
  "extends": [
    "@jedwards1211/eslint-config-typescript",
    "@jedwards1211/eslint-config-react",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": 0
  }
}
